.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0 10px;

  &__content {
    width: 800px;
    position: relative;
  }

  &__title {
    max-width: 90%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    word-break: break-word;
  }

  &__edit, &__delete {
    position: absolute;
    top: 3px;
    font-size: 2rem;
  }

  &__edit {
    right: 50px;
    color: #1781ef;
  }

  &__delete {
    right: 10px;
    cursor: pointer;
  }

  &__body {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 30px 0 30px;
    word-break: break-word;

    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      margin: 10px 0;
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.7rem;
    }
    h4 {
      font-size: 1.6rem;
    }

    & > p {
      margin: 10px 0;
      white-space: pre-wrap;
    }

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 18px 0;
      padding: 10px 15px;
    }

    figcaption {
      text-align: center;
      font-style: italic;
      font-size: 1.3rem;
    }

    ol, ul {
      margin: 10px 0 10px 30px;
      & li {
        padding: 5px 0;
      }
    }

    a {
      color: #1781ef;
      border-bottom: 2px solid #1781ef;
    }

    img {
      display: block;
      margin: 20px auto 10px;
      max-width: 500px;
      max-height: 500px;
    }

    center {
      margin: 10px 0;
    }
  }

  &__cred {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-style: italic;
  }

  &__comments {
    width: 800px;
    margin-top: 60px;
  }

  &__comment-form {
    width: 100%;
    position: relative;

    form {
      display: flex;
      align-items: center;
    }
  }

  &__textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 1.2rem;
    background: #373940;
    border-radius: 7px;
    color: #fff;
    border-radius: 7px;
    resize: none;
    overflow: auto;
    &:focus {
      box-shadow: 1px 3px 3px #373940;
    }
  }
  ::placeholder {
    color: #b9afaf;
  }

  &__comment-button {
    margin-left: 15px;
    position: relative;
    top: 0;
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 5px;
    background: #373940;
    color: #ebebeb;
    box-shadow: 0 5px 0 black;

    &:hover {
      top: 2px;
      box-shadow: 0 3px 0 black;
    }
  }

  &__comment-button[disabled] {
    background: gray;

    &:hover {
      top: 0;
      box-shadow: 0 5px 0 black;
    }
  }

  &__comments-list {
    margin: 25px 0;
  }

  &__noComments {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}

.Post-loading {
  margin-top: 20%;
  margin-left: 43%;
}

@media screen and (max-width: 1024px) {
  .Post {
    &__content {
      max-width: 600px;
    }

    &__comments {
      max-width: 600px;
    }

    &__body {
      img {
        max-width: 400px;
        max-height: 400px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
    .Post {
      &__content {
        max-width: 460px;
      }

      &__title {
        max-width: 80%;
        font-size: 1.7rem;
      }

      &__body {
        h1 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 1.5rem;
        }
        h3,h4,h5,h6 {
          font-size: 1.4rem;
        }
      }

      &__comments {
        max-width: 460px;
      }
    }
}

@media screen and (max-width: 480px) {
  .Post {
    &__content {
      max-width: 300px;
    }

    &__body {
      font-size: 1.25rem;
      img {
        max-width: 250px;
        max-height: 250px;
      }
    }

    &__comments {
      max-width: 300px;
    }

    &__comment-form {
      form {
        flex-direction: column;
      }
    }

    &__cred {
      flex-direction: column;
      cite {
        margin-bottom: 10px;
      }
    }

    &__comment-button {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 320px) {
  .Post {
    &__content {
      max-width: 270px;
    }

    &__body {
      font-size: 1.2rem;
      img {
        max-width: 220px;
        max-height: 220px;
      }

      h1 {
        font-size: 1.35rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      h3,h4,h5,h6 {
        font-size: 1.25rem;
      }
    }

    &__title {
      max-width: 70%;
      font-size: 1.4rem;
    }

    &__comments {
      max-width: 270px;
    }
  }
}